<template>
  <div>
    <app-loader></app-loader>
    <h1 class="ready__title">Выберите игроков</h1>

    <div class="ready__box">
      <div class="ready__players" v-if="players.length > 0">
        <div v-for="player in players" :key="player.id">
          <label>
            <input
              @change="clearValidationError(player)"
              @click="showHide(player)"
              type="checkbox"
              class="checkbox"
              :value="player"
              v-model="group"
            />
            <div class="ready__players-item">{{ player.name }}</div>
          </label>

          <div class="select-wrap" v-if="player.active">
            <div>Команда</div>

            <label v-if="!player.command">Выберите команду</label>
            <select
              class="select"
              @focus="clearValidationError(player)"
              @change="addComand($event, player)"
              :class="{ error: isError }"
              v-model="selected[player.id]"
            >
              <option v-for="item in commands" :key="item.id" :value="item.name">
                {{ item.name }}
              </option>
            </select>
          </div>

          {{ player.error }}
        </div>
      </div>

      <div class="ready__info">
        <h4 class="ready__info-title">Количесвто участников:</h4>
        <div class="ready__info-count">{{ group.length }} / {{ players.length }}</div>
        <button @click="randomCommands" v-if="group.length > 3">Случайные команды</button>
      </div>
    </div>

    <div class="ready__footer">
      <button class="ready__create" type="button" @click="createGroup" v-if="group.length > 3">
        Далее
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import appLoader from '@/components/Loader.vue';

export default {
  components: {
    appLoader,
  },
  data() {
    return {
      group: [],
      selected: [],
    };
  },

  mounted() {
    if (this.players.length === 0) {
      this.$router.push('/');
    }
  },

  computed: {
    ...mapGetters({
      commands: 'players/commands',
      players: 'players/players',
      isError: 'players/isError',
    }),
  },

  methods: {
    ...mapActions({
      createPlayersGroup: 'players/createPlayersGroup',
      setGlobalError: 'setGlobalError',
    }),

    ...mapMutations({
      setValidationError: 'players/SET_ERROR',
      clearValidationError: 'players/REMOVE_ERROR',
      showHide: 'players/OPEN_SELECT',
    }),

    randomCommands() {
      const randomCommands = this.shuffle(this.commands);
      const commandsName = randomCommands.map((el) => el.name);

      const commandsNameRepeat = [].concat(...Array(commandsName.length).fill(commandsName));

      this.group.reduce((acc, obj, i) => {
        acc.push((obj.command = commandsNameRepeat[i]));
        this.$set(this.selected, obj.id, obj.command);

        return acc;
      }, []);

      if (this.isError) {
        this.group.forEach((el) => {
          this.clearValidationError(el);
        });
      }
    },

    shuffle(arr) {
      for (let i = arr.length - 1; i > 0; i -= 1) {
        const j = Math.floor(Math.random() * (i + 1));
        const temp = arr[j];
        arr[j] = arr[i];
        arr[i] = temp;
      }
      return arr;
    },

    createGroup() {
      this.validate();
      if (this.isError) return;

      const random = this.shuffle(this.group);

      if (random.length % 2 !== 0) {
        this.setGlobalError('Выберите равное колличесвто пользователей');
        return;
      }

      const result = random.reduce((acc, value, index, array) => {
        if (index % 2 === 0) {
          acc[index] = array.slice(index, index + 2);
        }
        return acc;
      }, {});

      this.createPlayersGroup(result);
      this.$router.push('/playground');
    },

    addComand(e, obj) {
      obj.command = e.target.value;
    },

    validate() {
      this.setValidationError(this.group);
    },
  },
};
</script>

<style lang="stylus" scoped>
.ready
  padding 30px
  border 4px solid var(--over)
  position relative
  overflow hidden
  &__title
    margin-bottom 30px
  &__players
    display grid
    grid-template-columns repeat(4, 1fr)
    grid-gap 20px
    max-width 600px
    margin-bottom 30px
    &-item
      border 4px inset var(--main)
      padding 10px
      font-weight 600
      cursor pointer
    & .checkbox
        display none
    & .checkbox:checked + .ready__players-item
        background var(--main)
        color var(--bg)
        border 4px outset var(--main)

  &__box
    display flex
  &__info
    margin-left 100px
    &-title
      margin 0
      margin-bottom 10px
    &-count
      font-weight 600
      color var(--hover)
  &__footer
    display flex
    align-items center
    justify-content space-between
  &__cancel
    margin-left auto
    background transparent
    border none
    color var(--alarm)
    font-size 16px
    border-bottom 1px dashed var(--alarm)
    padding 0
    cursor pointer
  &__create
    background var(--hover)
    border-radius 10px
    border none
    color var(--bg)
    font-size 16px
    font-weight 600
    padding 10px 22px
    cursor pointer
</style>
