<template>
  <div class="home">
    <app-get-ready v-if="userOnline" :name="userName"></app-get-ready>

    <app-begin v-else></app-begin>
  </div>
</template>

<script>
import appBegin from '@/components/Begin.vue';
import appGetReady from '@/components/GetReady.vue';

import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'Home',

  components: {
    appBegin,
    appGetReady,
  },

  async mounted() {
    this.loadUser();
    this.getRegisteredUsers();
    this.getlocalUsers();
    this.getCommands();
  },

  computed: {
    ...mapGetters({
      userOnline: 'user/userToken',
      userName: 'user/userName',
      userId: 'user/userId',
    }),
  },
  methods: {
    ...mapActions({
      loadUser: 'user/loadUser',
      getRegisteredUsers: 'user/getRegisteredUsers',
      getlocalUsers: 'user/getlocalUsers',
      getCommands: 'players/getCommands',
      savePlayers: 'players/savePlayers',
      setGlobalError: 'setGlobalError',
    }),
  },
};
</script>
