<template>
  <div>
    <form class="login" @submit.prevent="sendForm">
      <app-loader></app-loader>
      <h1 class="login__title">Авторизация</h1>
      <div class="login__box">
        <div class="login__item" v-for="(item, key) in form" :key="item.id">
          <label class="login__item-name" :for="item.id">{{ item.label }}</label>
          <input
            class="login__item-field"
            type="text"
            v-model="item.value"
            :id="item.id"
            :class="{ error: item.error }"
            @focus="clearError(key)"
          />
          <div v-if="item.error" class="error">{{ item.error }}</div>
        </div>
        <button type="submit" class="login__action">Войти</button>
      </div>
      <div class="login__footer">
        Ещё не с нами? <router-link to="/registration"> Зарегистрируйтесь </router-link>
      </div>
    </form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import appLoader from '@/components/Loader.vue';

export default {
  name: 'login',
  components: {
    appLoader,
  },
  data() {
    return {
      form: {
        email: {
          value: 'johny@gmail.com',
          type: 'email',
          label: 'E-mail',
          pattern: /^([\w.*-]+@([\w-]+\.)+[\w-]{2,4})?$/,
          error: '',
          id: 1,
        },
        password: {
          value: 'qweqwe',
          type: 'password',
          label: 'Пароль',
          error: '',
          id: 2,
          pattern: /^.{6,}$/,
        },
      },
    };
  },

  mounted() {
    if (this.userEmail) {
      this.form.email.value = this.userEmail;
    }
  },

  computed: {
    ...mapGetters({
      userEmail: 'user/userEmail',
    }),

    formIsValid() {
      return Object.values(this.form).every((el) => el.error === '');
    },
  },

  methods: {
    ...mapActions({
      loginUser: 'user/loginUser',
    }),

    async sendForm() {
      this.validation();

      if (!this.formIsValid) return;

      const formData = {
        email: this.form.email.value,
        password: this.form.password.value,
      };

      const successAuth = await this.loginUser(formData);

      if (!successAuth) return;
      this.$router.replace({ path: '/' });
    },

    validation() {
      const errorMessages = {
        emptyError: 'Необходимо заполнить поле',
        emailError: 'Не верно указан почтовый адрес',
        passwordError: 'Пароль должен быть не меньше 6 символов',
      };

      Object.entries(this.form).forEach(([key, field]) => {
        if (!field.value) {
          this.form[key].error = errorMessages.emptyError;
          return;
        }

        if (!field.pattern.test(field.value)) {
          this.form[key].error = errorMessages[key];
        }
      });
    },

    clearError(key) {
      this.form[key].error = '';
    },
  },
};
</script>

<style lang="stylus">
.login
  padding 30px
  border 4px solid var(--over)
  border-radius 20px
  width 560px
  position relative
  overflow hidden
  &__title
    margin-bottom 10px
  &__item
    margin-bottom 30px
    &-name
      display block
      font-weight 600
      font-size 14px
      margin-bottom 10px
      color var(--ltext)
    &-field
        padding 17px 10px
        box-sizing border-box
        border: 2px solid var(--border)
        border-radius: 2px
        width 100%
        height 46px
        background: transparent
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        font-size: 16px
        line-height 22px
        transition: .2s
        &.error
          border-color red
        &:focus
           border-color: var(--text)
  &__action
    background var(--over)
    color var(--main)
    font-size 18px
    text-align center
    font-weight bold
    padding 15px 20px
    border-radius 20px
    max-width 300px
    cursor pointer
    transition .2s
    &:hover
      opacity 0.8
  &__footer
    margin-top 20px
</style>
