<template>
  <div class="room">
    <app-loader></app-loader>
    <h1 class="room__title">Выберите победителя</h1>

    <div class="room__list">
      <label class="room__item" v-for="(player, i) in gameCouple" :key="player.id">
        <input type="radio" v-model="winner" :value="player" />
        <div class="room__item-name">{{ player.name }}</div>
        <div class="room__item-score">Cчёт: {{ score[i] }}</div>
        <div class="room__item-command">{{ player.command }}</div>

        <div class="room__item-label" v-if="winner">
          Количесвто забитых мячей
          <input class="room__item-field" type="number" v-model="score[i]" />
        </div>
      </label>
    </div>

    <button class="room__save" @click="saveResult" v-if="Object.keys(score).length > 1">
      Сохранить результат
    </button>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import appLoader from '@/components/Loader.vue';

export default {
  data() {
    return {
      score: {},
      winner: null,
    };
  },

  components: {
    appLoader,
  },

  methods: {
    ...mapActions({
      updateGroup: 'players/updateGroup',
    }),

    saveResult() {
      this.winner.win = true;

      this.gameCouple.forEach((el, i) => {
        el.score = this.score[i];
      });

      // console.log(this.gameCouple);

      this.updateGroup(this.gameCouple);

      this.$router.push('/playground');
    },
  },

  computed: {
    ...mapGetters({
      gameCouple: 'players/gameCouple',
      playersGroup: 'players/playersGroup',
    }),
  },
};
</script>

<style lang="stylus">
.room
  &__list
    display grid
    grid-template-columns 1fr 1fr
    grid-gap 40px
    max-width 400px
</style>
