<template>
  <div>
    <app-loader></app-loader>
    <h1 class="ready__title">Cетка игроков</h1>
    <div class="group">
      <h3 class="group__title">Первый тур</h3>
      <div class="group__list">
        <div
          class="group__couple"
          v-for="(item, i) in playersGroup"
          :key="i"
          @click="playGame($event, item, i)"
        >
          <div class="group__item" v-for="(el, i) in item" :key="i" :class="{ done: el.win }">
            <div class="group__item-name">{{ el.name }}</div>
            <div class="group__item-command">
              {{ el.command }}
            </div>
            <div class="group__item-score" v-if="el.score">Голы: {{ el.score }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import appLoader from '@/components/Loader.vue';

export default {
  components: {
    appLoader,
  },

  computed: {
    ...mapGetters({
      playersGroup: 'players/playersGroup',
      gameCouple: 'players/gameCouple',
      resultCouple: 'players/resultCouple',
    }),
  },

  mounted() {
    this.loadPlayersGroup();
  },

  methods: {
    ...mapActions({
      startGame: 'players/startGame',
      loadPlayersGroup: 'players/loadPlayersGroup',
    }),

    playGame(e, arr, id) {
      const item = e.target.parentNode;

      if (item.classList.contains('done')) return;
      item.classList.add('done');

      this.startGame({
        keyGroup: id,
        couple: arr,
      });
      this.$router.push('/playroom');
    },
  },
};
</script>

<style lang="stylus" scoped>
.group
  margin-top 30px
  &__title
    margin 0
    margin-bottom 20px
  &__couple
    border 4px outset var(--main)
    padding 20px 40px
    display flex
    align-items center
    margin-bottom 20px
    max-width 600px
    cursor pointer

  &__item
    display grid
    grid-template-columns repeat(3, 1fr)
    align-items center
    position relative
    width 100%
    &.done
      border-color var(--alarm)
      opacity 0.6
      cursor default
    &:first-child
      &::after
        content: 'vs'
        align-self center
        font-weight 600
        justify-self center
        color var(--alarm)
    &-name
      font-weight 600
      grid-column 1/3
      pointer-events none
     &-command
      margin-top 5px
      grid-column 1/3
      pointer-events none
     &-score
      margin-top 5px
      grid-column 1/3
      pointer-events none
    &-box
      display flex
      align-items center
</style>
