<template>
  <div>
    <form class="reg" @submit.prevent="sendForm" v-if="!step">
      <app-loader></app-loader>
      <h1 class="reg__title">Регистрация</h1>
      <div class="reg__box">
        <div class="reg__item" v-for="(item, key) in form" :key="item.id">
          <label class="reg__item-name" :for="item.id">{{ item.label }}</label>
          <input
            class="reg__item-field"
            type="text"
            v-model="item.value"
            :id="item.id"
            :class="{ error: item.error }"
            @focus="clearError(key)"
          />
          <div v-if="item.error" class="error">{{ item.error }}</div>
        </div>
        <button type="submit" class="reg__action">Зарегестрироваться</button>
      </div>
      <div class="reg__footer">
        Уже регистрировались? <router-link to="/login"> Войти </router-link>
      </div>
    </form>
    <template v-else>
      <app-user-form></app-user-form>
    </template>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

import appLoader from '@/components/Loader.vue';
import appUserForm from '@/components/UserForm.vue';

export default {
  name: 'Reg',
  components: {
    appLoader,
    appUserForm,
  },
  data() {
    return {
      form: {
        email: {
          value: 'johny@gmail.com',
          type: 'email',
          label: 'E-mail',
          pattern: /^([\w.*-]+@([\w-]+\.)+[\w-]{2,4})?$/,
          error: '',
          id: 1,
        },
        password: {
          value: '',
          type: 'password',
          label: 'Пароль',
          error: '',
          id: 2,
          pattern: /^.{6,}$/,
        },
        password2: {
          value: '',
          type: 'password',
          label: 'Повторите пароль',
          error: '',
          id: 3,
          pattern: /^.{6,}$/,
        },
      },
      step: false,
    };
  },

  computed: {
    formIsValid() {
      return Object.values(this.form).every((el) => el.error === '');
    },
  },

  methods: {
    ...mapActions({
      register: 'user/registerUser',
    }),

    async sendForm() {
      this.validation();

      if (!this.formIsValid) return;

      const formData = {
        email: this.form.email.value,
        password: this.form.password.value,
      };

      const succsecReg = await this.register(formData);
      if (!succsecReg) return;
      this.step = true;
    },

    validation() {
      const errorMessages = {
        emptyError: 'Необходимо заполнить поле',
        email: 'Не верно указан почтовый адрес',
        password: 'Пароль должен быть не меньше 6 символов',
        password2: 'Пароль должен быть не меньше 6 символов',
        repeat: 'Пароли не совпадают',
      };

      Object.entries(this.form).forEach(([key, field]) => {
        if (!field.value) {
          this.form[key].error = errorMessages.emptyError;
          return;
        }

        if (!field.pattern.test(field.value)) {
          this.form[key].error = errorMessages[key];
          return;
        }

        if (this.form.password.value !== this.form.password2.value) {
          this.form.password2.error = errorMessages.repeat;
        }
      });
    },

    clearError(key) {
      this.form[key].error = '';
    },
  },
};
</script>

<style lang="stylus">
.reg
  padding 30px
  border 4px solid var(--over)
  border-radius 20px
  width 560px
  position relative
  overflow hidden
  &__title
    margin-bottom 10px
  &__item
    margin-bottom 30px
    &-name
      display block
      font-weight 600
      font-size 14px
      margin-bottom 10px
      color var(--ltext)
    &-field
        padding 17px 10px
        box-sizing border-box
        border: 2px solid var(--border)
        border-radius: 2px
        width 100%
        height 46px
        background: transparent
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        font-size: 16px
        line-height 22px
        transition: .2s
        &.error
          border-color red
        &:focus
           border-color: var(--text)
  &__action
    background var(--over)
    color var(--main)
    font-size 18px
    text-align center
    font-weight bold
    padding 15px 20px
    border-radius 20px
    max-width 300px
    cursor pointer
    transition .2s
    &:hover
      opacity 0.8
  &__footer
    margin-top 20px
</style>
