<template>
  <div class="begin">
    <h1>Это тестовая crm</h1>
    <div class="begin__text">
      Что бы начать игру <router-link class="begin__action" to="/login">нажмите</router-link>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
