<template>
  <transition name="fade" mode="in-out">
    <div class="modal-error" v-if="isError">
      <div class="modal-error__box">
        <button type="button" class="modal-error__close" @click="clearGlobalError">X</button>
        <div class="modal-error__text">{{ isError }}</div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  computed: {
    ...mapGetters('error', ['isError']),
  },

  methods: {
    ...mapActions(['clearGlobalError']),
  },
};
</script>

<style lang="stylus">
.modal-error
  width 100%
  height 100%
  &__box
    z-index 1
    background #fff
    padding 20px
    position fixed
    right 20%
    border-radius 20px
    max-width 420px
    display flex
    align-items center
    justify-content center
    box-shadow: 0px 8px 10px 3px rgba(34, 60, 80, 0.2)
  &__close
    margin-right auto
    position absolute
    right 5px
    top 5px
    background transparent
    border none
    cursor pointer
  &__text
    font-weight 500

.fade-enter-active{
  animation: fadeIn 0.5s;
}

.fade-leave-active{
  animation: fadeOut 0.5s;
}

@keyframes fadeIn{
  from{opacity: 0; transform: translateY(10vw)}
  to{opacity: 1; transform: translateY(0)}
}

@keyframes fadeOut{
  from{opacity: 1; transform: translateY(0)}
  to{opacity: 0; transform: translateY(10vw)}
}
</style>
