<template>
  <footer class="footer">
    <div class="wrap">
      <div class="footer__info">by Johnny</div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="stylus">
.footer
  padding 20px 0
  background var(--over)
  &__info
    text-align right
    font-size 14px
</style>
