<template>
  <div class="ready">
    <app-loader></app-loader>
    <h1 class="ready__title">
      Добро пожаловать<span v-if="name">, {{ name }} </span>
    </h1>

    <div class="ready__wrapper">
      <app-list-users :users="allUsers"></app-list-users>
      <app-list-commands :commands="allCommands"></app-list-commands>
    </div>
    <button class="ready__box-create" @click="beginGame">Создать игру</button>
  </div>
</template>

<script>
import appLoader from '@/components/Loader.vue';
import appListUsers from '@/components/ListUsers.vue';
import appListCommands from '@/components/ListCommands.vue';
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      newUsers: [],
      newCommands: [],
    };
  },

  components: {
    appLoader,
    appListUsers,
    appListCommands,
  },

  props: {
    name: String,
  },

  computed: {
    ...mapGetters({
      allUsers: 'user/allUsers',
      allCommands: 'players/commands',
    }),
  },

  methods: {
    ...mapActions({
      savePlayers: 'players/savePlayers',
      setGlobalError: 'setGlobalError',
    }),

    beginGame() {
      if (this.allUsers.length < 4) {
        this.setGlobalError('Пользователей должно быть не меньше 4');
        return;
      }

      this.savePlayers({
        users: this.allUsers,
        commands: this.allCommands,
      });
      this.$router.push('/choose');
    },
  },
};
</script>

<style lang="stylus">
.ready
  padding 30px
  border 4px solid var(--over)
  position relative
  overflow hidden

  &__title
    margin-bottom 30px

  &__wrapper
    display grid
    grid-template-columns 1fr 1fr
    grid-gap 30px
  &__box
    &-title
      font-weight 600
      margin-bottom 20px
    &-btn
      color var(--hover)
      font-weight 600
      cursor pointer
      display block
      border-bottom 2px dashed var(--hover)
      margin 10px 0
    &-save
      color var(--main)
      font-weight 600
      padding 10px 20px
      border-radius 12px
      border 2px solid var(--main)
      cursor pointer
      display block
    &-create
      background var(--over)
      color var(--main)
      font-size 18px
      text-align center
      font-weight bold
      padding 15px 20px
      border-radius 20px
      max-width 300px
      cursor pointer
      transition .2s
      margin 30px auto
      display block
      min-width 300px
      margin-bottom 0
    &-field
        padding 17px 10px
        box-sizing border-box
        border: 2px solid var(--border)
        border-radius: 2px
        width 100%
        max-width 400px
        height 46px
        background: transparent
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        font-size: 16px
        line-height 22px
        transition: .2s
        &.error
          border-color red
        &:focus
            border-color: var(--text)
    &-wrap
      margin-bottom 10px
  &__list
    display grid
    width fit-content
    grid-template-columns repeat(4, 120px)
    margin-bottom 20px
    border-left none
    &-item
      padding 10px
      border 1px solid var(--border)
      position relative
      margin 5px

.delete
  position absolute
  top 5px
  right 5px
  cursor pointer
</style>
