<template>
  <header class="header">
    <div class="wrap">
      <nav class="header__nav">
        <router-link
          class="header__nav-link"
          v-for="(item, i) in headerLinks"
          :key="i"
          :to="item.url"
        >
          {{ item.name }}
        </router-link>
      </nav>
      <router-link class="header__login" to="/login" v-if="!userOnline">Войти</router-link>
      <template v-else>
        <div class="header__name">в сети</div>
        <a href="/" class="header__login" @click="logout">Выйти</a>
      </template>
    </div>
  </header>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {
      headerLinks: [
        {
          name: 'Главная',
          url: '/',
        },
        {
          name: 'Профиль',
          url: '/profile',
        },
      ],
    };
  },

  computed: {
    ...mapGetters({
      userOnline: 'user/userToken',
    }),
  },
  methods: {
    ...mapActions({
      logout: 'user/logoutUser',
    }),
  },
};
</script>

<style lang="stylus">
.header
  padding 25px 0
  box-sizing border-box
  background var(--over)
  display flex
  & > .wrap
    display flex
    width 100%
  &__nav
    display flex
    width 100%
    &-link
      margin-right 40px
      text-decoration none
      color var(--main)
      font-weight 600
      border-bottom 1px solid transparent
      &.router-link-exact-active
        border-bottom 1px solid var(--main)
  &__login
    margin-left auto
    color var(--main)
    font-weight 600
    text-decoration none
    &.router-link-exact-active
      border-bottom 1px solid var(--main)
  &__name
    display flex
    flex-shrink 0
    margin-right 30px
</style>
