<template>
  <div class="ready__box">
    <div class="ready__box-title">Список футбольных команд</div>
    <div class="ready__commands">
      <div class="ready__list-item" v-for="command in commands" :key="command.id">
        {{ command.name }}
        <button type="button" class="delete" @click="deleteCommand(command)">
          <img src="@/assets/icons/close.svg" width="10px" height="10px" />
        </button>
      </div>
    </div>
    <div v-for="item in newCommands" :key="item.id" class="ready__box-wrap">
      <input
        class="ready__box-field"
        type="text"
        v-model="item.name"
        placeholder="Введите комманду"
        :class="{ error: item.error }"
        @focus="clearError(item)"
      />
      <div v-if="item.error">{{ item.error }}</div>
    </div>
    <button class="ready__box-btn" @click="addCommand">Добавить команду</button>
    <button class="ready__box-save" @click="saveCommand" v-if="newCommands.length > 0">
      Сохранить
    </button>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  props: {
    commands: Array,
  },

  data() {
    return {
      newCommands: [],
    };
  },
  methods: {
    ...mapActions({
      saveNewCommands: 'players/saveNewCommands',
      deleteCommand: 'players/deleteCommand',
    }),

    addCommand() {
      this.newCommands.push({
        name: '',
        error: '',
      });
    },

    clearError(obj) {
      obj.error = '';
      this.invalid = false;
    },

    async saveCommand() {
      this.newCommands.forEach((el) => {
        if (!el.name) {
          el.error = 'запоните поле';
          this.invalid = true;
        }
      });

      if (this.invalid) return;

      const result = this.newCommands.map((el) => ({ name: el.name }));

      await this.saveNewCommands(result);
      this.newCommands = [];
    },
  },
};
</script>

<style></style>
