<template>
  <div class="ready__box">
    <div class="ready__box-title">Список пользователей</div>
    <div class="ready__list">
      <div class="ready__list-item" v-for="user in users" :key="user.id">
        {{ user.name }}
        <button type="button" class="delete" @click="deleteUser(user)">
          <img src="@/assets/icons/close.svg" width="10px" height="10px" />
        </button>
      </div>
    </div>
    <div v-for="item in newUsers" :key="item.id" class="ready__box-wrap">
      <input
        class="ready__box-field"
        type="text"
        v-model="item.name"
        placeholder="Введите имя"
        :class="{ error: item.error }"
        @focus="clearError(item)"
      />
      <div v-if="item.error">{{ item.error }}</div>
    </div>
    <button class="ready__box-btn" @click="addUser">Добавить игрока</button>
    <button class="ready__box-save" @click="saveUser" v-if="newUsers.length > 0">
      Сохранить
    </button>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  props: {
    users: Array,
  },

  data() {
    return {
      newUsers: [],
    };
  },

  methods: {
    ...mapActions({
      saveNewUsers: 'user/saveNewUsers',
      deleteUser: 'user/deleteUser',
    }),

    addUser() {
      this.newUsers.push({
        name: '',
        error: '',
      });
    },

    clearError(obj) {
      obj.error = '';
      this.invalid = false;
    },

    async saveUser() {
      this.newUsers.forEach((el) => {
        if (!el.name) {
          el.error = 'запоните поле';
          this.invalid = true;
        }
      });

      if (this.invalid) return;

      const result = this.newUsers.map((el) => ({ name: el.name }));

      await this.saveNewUsers(result);
      this.newUsers = [];
    },
  },
};
</script>
