<template>
  <form class="form" @submit.prevent="sendForm">
    <app-loader></app-loader>
    <h1 class="form__title">Заполните данные</h1>
    <div class="form__box">
      <div class="form__item" v-for="(item, key) in form" :key="item.id">
        <label class="form__item-name">{{ item.label }}</label>
        <input
          class="form__item-field"
          :type="item.type"
          v-model="item.value"
          :class="{ error: item.error }"
          @focus="clearError(key)"
        />
        <div v-if="item.error" class="error">{{ item.error }}</div>
      </div>
    </div>
    <button class="form__action" type="submit">Сохранить</button>
  </form>
</template>

<script>
import appLoader from '@/components/Loader.vue';

import { mapActions } from 'vuex';

export default {
  components: {
    appLoader,
  },
  data() {
    return {
      form: {
        name: {
          value: '',
          type: 'text',
          label: 'Имя',
          id: 1,
          error: '',
        },
      },
    };
  },
  computed: {
    formIsValid() {
      return Object.values(this.form).every((el) => el.error === '');
    },
  },

  methods: {
    ...mapActions({
      addUser: 'user/addUser',
    }),

    async sendForm() {
      this.validation();
      if (!this.formIsValid) return;

      const formData = {
        name: this.form.name.value,
        id: null,
      };

      const success = await this.addUser(formData);

      if (!success) return;
      this.$router.push('/login');
    },

    validation() {
      const errorMessages = {
        emptyError: 'Необходимо заполнить поле',
      };

      Object.entries(this.form).forEach(([key, field]) => {
        if (!field.value) {
          this.form[key].error = errorMessages.emptyError;
        }
      });
    },

    clearError(key) {
      this.form[key].error = '';
    },
  },
};
</script>

<style lang="stylus">
.form
  padding 30px
  border 4px solid var(--over)
  border-radius 20px
  width 560px
  position relative
  overflow hidden
  &__title
    margin-bottom 10px
  &__item
    margin-bottom 30px
    &-name
      display block
      font-weight 600
      font-size 14px
      margin-bottom 10px
      color var(--ltext)
    &-field
        padding 17px 10px
        box-sizing border-box
        border: 2px solid var(--border)
        border-radius: 2px
        width 100%
        height 46px
        background: transparent
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        font-size: 16px
        line-height 22px
        transition: .2s
        &.error
          border-color red
        &:focus
           border-color: var(--text)
  &__action
    background var(--over)
    color var(--main)
    font-size 18px
    text-align center
    font-weight bold
    padding 15px 20px
    border-radius 20px
    max-width 300px
    cursor pointer
    transition .2s
    &:hover
      opacity 0.8
  &__footer
    margin-top 20px
</style>
