<template>
  <div id="app">
    <app-header></app-header>
    <div class="main">
      <app-error></app-error>
      <div class="wrap">
        <router-view></router-view>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>
import appHeader from '@/components/Header.vue';
import appFooter from '@/components/Footer.vue';
import appError from '@/components/Error.vue';

export default {
  components: {
    appHeader,
    appFooter,
    appError,
  },
};
</script>

<style lang="stylus">
*
  box-sizing border-box

#app
  font-family "Montserrat", sans-serif
  display flex
  flex-direction column
  min-height 100vh
  color var(--text)
  var(-bg)

.body
  margin 0

.wrap
  max-width 1280px
  margin 0 auto
  padding 0 20px
.main
  flex-grow 1
  padding-top 50px
  padding-bottom 50px
  position relative
  overflow hidden

h1
  margin 0
  padding 0

a
  color var(--main)

button
  padding 0
  background transparent
  border none
  font-size 16px

:root
  --text: #2E4057
  --ltext: #9F9F9F
  --main: #3B6AAB
  --bg: #fff
  --hover: #FF8933
  --border: #cfcfcf
  --over: #FAEEDD
  --mob_bg: #ECECEC
  --light: #FFF5F1
  --alarm: #BF3030
  --animate-duration 0.8s
  --animate-delay 0.8s

@font-face
  font-display swap
  font-family 'Montserrat'
  font-style:normal
  font-weight 400
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('~@/assets/fonts/montserrat-v14-latin-ext_cyrillic-regular.woff2') format('woff2'),
    url('~@/assets/fonts/montserrat-v14-latin-ext_cyrillic-regular.woff') format('woff');

@font-face
  font-display swap
  font-family 'Montserrat'
  font-style:normal
  font-weight 600
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('~@/assets/fonts/montserrat-v14-latin-ext_cyrillic-600.woff2') format('woff2'),
    url('~@/assets/fonts/montserrat-v14-latin-ext_cyrillic-600.woff') format('woff');

@font-face
  font-display swap
  font-family 'Montserrat'
  font-style:normal
  font-weight 700
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('~@/assets/fonts/montserrat-v14-latin-ext_cyrillic-700.woff2') format('woff2'),
    url('~@/assets/fonts/montserrat-v14-latin-ext_cyrillic-700.woff') format('woff');
</style>
